# ----------------------------------------------------------------------
# --   FPGA DEVICE  : SPARTAN3 XC3S1500-4FG676
# --   TARGET BOARD : LL5000 REV 1.1
# --
# -------------------------------------------------------------------------
# -------------------------------------------------------------------------
#      MODULE LEDS_8BIT CONSTRAINTS
# -------------------------------------------------------------------------
NET LED[0] LOC=AB7;
NET LED[0] IOSTANDARD = LVTTL;
NET LED[0] SLEW = SLOW;
NET LED[0] DRIVE = 12;
NET LED[1] LOC=AB8;
NET LED[1] IOSTANDARD = LVTTL;
NET LED[1] SLEW = SLOW;
NET LED[1] DRIVE = 12;
NET LED[2] LOC=AB9;
NET LED[2] IOSTANDARD = LVTTL;
NET LED[2] SLEW = SLOW;
NET LED[2] DRIVE = 12;
NET LED[3] LOC=AA9;
NET LED[3] IOSTANDARD = LVTTL;
NET LED[3] SLEW = SLOW;
NET LED[3] DRIVE = 12;
NET LED[4] LOC=AA10;
NET LED[4] IOSTANDARD = LVTTL;
NET LED[4] SLEW = SLOW;
NET LED[4] DRIVE = 12;
NET LED[5] LOC=AA11;
NET LED[5] IOSTANDARD = LVTTL;
NET LED[5] SLEW = SLOW;
NET LED[5] DRIVE = 12;
NET LED[6] LOC=AD12;
NET LED[6] IOSTANDARD = LVTTL;
NET LED[6] SLEW = SLOW;
NET LED[6] DRIVE = 12;
NET LED[7] LOC=Y13;
NET LED[7] IOSTANDARD = LVTTL;
NET LED[7] SLEW = SLOW;
NET LED[7] DRIVE = 12;
# -------------------------------------------------------------------------
#      MODULE DIPSWS_8BIT CONSTRAINTS
# -------------------------------------------------------------------------
NET DIP_SW[0] LOC=Y8;
NET DIP_SW[0] IOSTANDARD = LVCMOS33;
NET DIP_SW[1] LOC=Y9;
NET DIP_SW[1] IOSTANDARD = LVCMOS33;
NET DIP_SW[2] LOC=Y10;
NET DIP_SW[2] IOSTANDARD = LVCMOS33;
NET DIP_SW[3] LOC=Y11;
NET DIP_SW[3] IOSTANDARD = LVCMOS33;
NET DIP_SW[4] LOC=Y12;
NET DIP_SW[4] IOSTANDARD = LVCMOS33;
NET DIP_SW[5] LOC=W11;
NET DIP_SW[5] IOSTANDARD = LVCMOS33;
NET DIP_SW[6] LOC=W12;
NET DIP_SW[6] IOSTANDARD = LVCMOS33;
NET DIP_SW[7] LOC=W13;
NET DIP_SW[7] IOSTANDARD = LVCMOS33;
# -------------------------------------------------------------------------
# Mezzanine A
# -------------------------------------------------------------------------
#   CON-900
# NET MZ_IO_A[0] 		LOC = AF15
NET "MZ_CPLD_MISC7" LOC = "AF15";
NET MZ_CPLD_MISC7 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[1] 		LOC = AE15
NET "MZ_CPLD_MISC4" LOC = "AE15";
NET MZ_CPLD_MISC4 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[2] 		LOC = AF16
NET "MZ_CPLD_MISC9" LOC = "AF16";
NET MZ_CPLD_MISC9 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[3] 		LOC = AE16
NET "MZ_CPLD_MISC6" LOC = "AE16";
NET MZ_CPLD_MISC6 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[4] 		LOC = AF17
NET "MZ_CPLD_MISC8" LOC = "AF17";
NET MZ_CPLD_MISC8 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[5] 		LOC =AE17
NET "MZ_CPLD_MISC10" LOC = "AE17";
NET MZ_CPLD_MISC10 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[6] 		LOC =AE18
NET MZ_BUF_ADDR[0] 	LOC =AE18 ;
NET MZ_BUF_ADDR[0] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[7] 		LOC = AF19
NET MZ_BUF_ADDR[1] 	LOC = AF19;
NET MZ_BUF_ADDR[1] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[8] 		LOC = AE19
NET MZ_BUF_ADDR[2] 	LOC = AE19;
NET MZ_BUF_ADDR[2] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[9] 		LOC = AF20
NET MZ_BUF_ADDR[3] 	LOC = AF20;
NET MZ_BUF_ADDR[3] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[10] 	LOC = AE20
NET MZ_BUF_ADDR[4] 	LOC = AE20;
NET MZ_BUF_ADDR[4] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[11] 	LOC = AF21
NET MZ_BUF_ADDR[5] 	LOC = AF21;
NET MZ_BUF_ADDR[5] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[12] 	LOC = AE21
NET MZ_BUF_ADDR[6] 	LOC = AE21;
NET MZ_BUF_ADDR[6] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[13] 	LOC = AF22
NET MZ_BUF_ADDR[7] 	LOC = AF22;
NET MZ_BUF_ADDR[7] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[14] 	LOC = AE22
NET MZ_BUF_ADDR[8] 	LOC = AE22;
NET MZ_BUF_ADDR[8] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[15] 	LOC = AF23
NET MZ_BUF_ADDR[9] 	LOC = AF23;
NET MZ_BUF_ADDR[9] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[16] 	LOC = AE23
NET MZ_BUF_ADDR[10] 	LOC = AE23;
NET MZ_BUF_ADDR[10] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[17] 	LOC = AF24
NET MZ_BUF_ADDR[11] 	LOC = AF24;
NET MZ_BUF_ADDR[11] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[18] 	LOC = AE24
NET MZ_BUF_ADDR[12] 	LOC = AE24;
NET MZ_BUF_ADDR[12] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[19] 	LOC = AD25
NET MZ_BUF_ADDR[13] 	LOC = AD25;
NET MZ_BUF_ADDR[13] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[20] 	LOC = AB20
NET MZ_BUF_ADDR[14] 	LOC = AB20;
NET MZ_BUF_ADDR[14] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[21] 	LOC = AA20
NET MZ_BUF_ADDR[15] 	LOC = AA20;
NET MZ_BUF_ADDR[15] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[22] 	LOC = W15
NET "MZ_CPLD_MISC2" LOC = "W15";
NET MZ_CPLD_MISC2		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[23] 	LOC = W16
NET "MZ_CPLD_MISC5" LOC = "W16";
NET MZ_CPLD_MISC5		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[24] 	LOC = Y16
NET "MZ_CPLD_MISC3" LOC = "Y16";
NET MZ_CPLD_MISC3		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[25] 	LOC = Y17
NET "MZ_CPLD_MISC0" LOC = "Y17";
NET MZ_CPLD_MISC0		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[26] 	LOC = Y18
NET "MZ_CPLD_RW" LOC = "Y18";
NET MZ_CPLD_RW 		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[28] 	LOC = AA19
NET "MZ_CPLD_AS" LOC = "AA19";
NET MZ_CPLD_AS	 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[29] 	LOC = Y19
NET "MZ_CPLD_RESET_OUT" LOC = "Y19";
NET MZ_CPLD_RESET_OUT	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[30] 	LOC = AC22
NET "MZ_CPLD_MISC14" LOC = "AC22";
NET MZ_CPLD_MISC14	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[31] 	LOC = AD23
NET "MZ_CPLD_MISC1" LOC = "AD23";
NET MZ_CPLD_MISC1		IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[32] 	LOC = AB21
NET MZ_BUF_ADDR[23] 	LOC = AB21 ;
NET MZ_BUF_ADDR[23] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[33]		LOC = AB22
NET MZ_BUF_ADDR[22] 	LOC = AB22;
NET MZ_BUF_ADDR[22] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[34] 	LOC = AA15
NET MZ_BUF_ADDR[21] 	LOC = AA15;
NET MZ_BUF_ADDR[21] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[35] 	LOC = AA16
NET MZ_BUF_ADDR[20] 	LOC = AA16;
NET MZ_BUF_ADDR[20] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[36] 	LOC = AA17
NET MZ_BUF_ADDR[19] 	LOC = AA17;
NET MZ_BUF_ADDR[19] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[37] 	LOC = AB17
NET MZ_BUF_ADDR[18] 	LOC = AB17;
NET MZ_BUF_ADDR[18] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[38] 	LOC = AB18
NET MZ_BUF_ADDR[17] 	LOC = AB18;
NET MZ_BUF_ADDR[17] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[39] 	LOC = AB19
NET MZ_BUF_ADDR[16] 	LOC = AB19;
NET MZ_BUF_ADDR[16] 	IOSTANDARD = LVCMOS33;
# CON-901
# NET MZ_IO_A[40] 	LOC = AD22
NET MZ_CPLD_BYTE_N[0] 	LOC = AD22;
NET MZ_CPLD_BYTE_N[0] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[41] 	LOC = AC21
NET "MZ_CPLD_MISC13" LOC = "AC21";
NET MZ_CPLD_MISC13	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[42] 	LOC = AD21
NET MZ_CPLD_BYTE_N[2] 	LOC = AD21;
NET MZ_CPLD_BYTE_N[2] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[43] 	LOC = AC20
NET MZ_CPLD_BYTE_N[3] 	LOC = AC20;
NET MZ_CPLD_BYTE_N[3] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[44] 	LOC = AC19
NET MZ_CPLD_BYTE_N[1] 	LOC = AC19;
NET MZ_CPLD_BYTE_N[1] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[45] 	LOC = AD19
NET "MZ_CPLD_MISC12" LOC = "AD19";
NET MZ_CPLD_MISC12	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[46] 	LOC = AC18
NET "MZ_CPLD_MISC11" LOC = "AC18";
NET MZ_CPLD_MISC11	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[47] 	LOC = AD18
NET "FPGA_MZ_DTACK" LOC = "AD18";
NET FPGA_MZ_DTACK 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[48] 	LOC = AC17
NET MZ_BUF_DATA[31] 	LOC = AC17;
NET MZ_BUF_DATA[31] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[49] 	LOC = AD17
NET MZ_BUF_DATA[30] 	LOC = AD17;
NET MZ_BUF_DATA[30] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[50] 	LOC = AC16
NET MZ_BUF_DATA[29] 	LOC = AC16;
NET MZ_BUF_DATA[29] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[51] 	LOC = AB16
NET MZ_BUF_DATA[28] 	LOC = AB16;
NET MZ_BUF_DATA[28] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[52] 	LOC = AD15
NET MZ_BUF_DATA[27] 	LOC = AD15;
NET MZ_BUF_DATA[27] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[53] 	LOC = AB15
NET MZ_BUF_DATA[26] 	LOC = AB15;
NET MZ_BUF_DATA[26] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[54] 	LOC = AB14
NET MZ_BUF_DATA[25] 	LOC = AB14;
NET MZ_BUF_DATA[25] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[55] 	LOC = AC11
NET MZ_BUF_DATA[24] 	LOC = AC11;
NET MZ_BUF_DATA[24] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[56] 	LOC = AB10
NET MZ_BUF_DATA[23] 	LOC = AB10;
NET MZ_BUF_DATA[23] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[57] 	LOC = AD10
NET MZ_BUF_DATA[22] 	LOC = AD10;
NET MZ_BUF_DATA[22] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[58] 	LOC = AC10
NET MZ_BUF_DATA[21] 	LOC = AC10;
NET MZ_BUF_DATA[21] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[59] 	LOC = AD9
NET MZ_BUF_DATA[20] 	LOC = AD9;
NET MZ_BUF_DATA[20] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[60] 	LOC = AA8
NET MZ_BUF_DATA[19] 	LOC = AA8;
NET MZ_BUF_DATA[19] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[61] 	LOC = AA7
NET MZ_BUF_DATA[18] 	LOC = AA7 ;
NET MZ_BUF_DATA[18] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[62] 	LOC = AF4
NET MZ_BUF_DATA[17] 	LOC = AF4;
NET MZ_BUF_DATA[17] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[63] 	LOC = AD4
NET MZ_BUF_DATA[16] 	LOC = AD4;
NET MZ_BUF_DATA[16] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[64] 	LOC = AE12
NET MZ_BUF_DATA[15] 	LOC = AE12;
NET MZ_BUF_DATA[15] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[65] 	LOC = AF12
NET MZ_BUF_DATA[14] 	LOC = AF12;
NET MZ_BUF_DATA[14] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[66] 	LOC = AE11
NET MZ_BUF_DATA[13] 	LOC = AE11;
NET MZ_BUF_DATA[13] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[67] 	LOC = AF11
NET MZ_BUF_DATA[12] 	LOC = AF11;
NET MZ_BUF_DATA[12] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[68] 	LOC = AE10
NET MZ_BUF_DATA[11] 	LOC = AE10;
NET MZ_BUF_DATA[11] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[69] 	LOC = AF10
NET MZ_BUF_DATA[10] 	LOC = AF10;
NET MZ_BUF_DATA[10] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[70] 	LOC = AE9
NET MZ_BUF_DATA[9] 	LOC = AE9;
NET MZ_BUF_DATA[9] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[71] 	LOC = AE8
NET MZ_BUF_DATA[8] 	LOC = AE8;
NET MZ_BUF_DATA[8] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[72] 	LOC = AF8
NET MZ_BUF_DATA[7] 	LOC = AF8;
NET MZ_BUF_DATA[7] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[73] 	LOC = AE7
NET MZ_BUF_DATA[6] 	LOC = AE7;
NET MZ_BUF_DATA[6] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[74] 	LOC = AF7
NET MZ_BUF_DATA[5] 	LOC = AF7;
NET MZ_BUF_DATA[5] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[75] 	LOC = AE6
NET MZ_BUF_DATA[4] 	LOC = AE6;
NET MZ_BUF_DATA[4] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[76] 	LOC = AF6
NET MZ_BUF_DATA[3] 	LOC = AF6;
NET MZ_BUF_DATA[3] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[77] 	LOC = AE5
NET MZ_BUF_DATA[2] 	LOC = AE5;
NET MZ_BUF_DATA[2] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[78] 	LOC = AF5
NET MZ_BUF_DATA[1] 	LOC = AF5;
NET MZ_BUF_DATA[1] 	IOSTANDARD = LVCMOS33;
# NET MZ_IO_A[79] 	LOC = AE4
NET MZ_BUF_DATA[0] 	LOC = AE4;
NET MZ_BUF_DATA[0] 	IOSTANDARD = LVCMOS33;
# For testing only
#NET SDRAM_CLK    IOSTANDARD = LVTTL
#NET SDRAM_CLK    LOC = P19
INST "MZ_BUF_ADDR<10>" TNM = "ADDR";
#INST "MZ_BUF_ADDR<11>" TNM = "ADDR";
#INST "MZ_BUF_ADDR<12>" TNM = "ADDR";
INST "MZ_BUF_ADDR<2>" TNM = "ADDR";
INST "MZ_BUF_ADDR<3>" TNM = "ADDR";
INST "MZ_BUF_ADDR<4>" TNM = "ADDR";
INST "MZ_BUF_ADDR<5>" TNM = "ADDR";
INST "MZ_BUF_ADDR<6>" TNM = "ADDR";
INST "MZ_BUF_ADDR<7>" TNM = "ADDR";
INST "MZ_BUF_ADDR<8>" TNM = "ADDR";
INST "MZ_BUF_ADDR<9>" TNM = "ADDR";
TIMEGRP "ADDR" OFFSET = IN 6 ns BEFORE "FPGA_CLK3";
INST "MZ_BUF_DATA<0>" TNM = "DATABUS";
INST "MZ_BUF_DATA<1>" TNM = "DATABUS";
INST "MZ_BUF_DATA<10>" TNM = "DATABUS";
INST "MZ_BUF_DATA<11>" TNM = "DATABUS";
INST "MZ_BUF_DATA<12>" TNM = "DATABUS";
INST "MZ_BUF_DATA<13>" TNM = "DATABUS";
INST "MZ_BUF_DATA<14>" TNM = "DATABUS";
INST "MZ_BUF_DATA<15>" TNM = "DATABUS";
INST "MZ_BUF_DATA<16>" TNM = "DATABUS";
INST "MZ_BUF_DATA<17>" TNM = "DATABUS";
INST "MZ_BUF_DATA<18>" TNM = "DATABUS";
INST "MZ_BUF_DATA<19>" TNM = "DATABUS";
INST "MZ_BUF_DATA<2>" TNM = "DATABUS";
INST "MZ_BUF_DATA<20>" TNM = "DATABUS";
INST "MZ_BUF_DATA<21>" TNM = "DATABUS";
INST "MZ_BUF_DATA<22>" TNM = "DATABUS";
INST "MZ_BUF_DATA<23>" TNM = "DATABUS";
INST "MZ_BUF_DATA<24>" TNM = "DATABUS";
INST "MZ_BUF_DATA<25>" TNM = "DATABUS";
INST "MZ_BUF_DATA<26>" TNM = "DATABUS";
INST "MZ_BUF_DATA<27>" TNM = "DATABUS";
INST "MZ_BUF_DATA<28>" TNM = "DATABUS";
INST "MZ_BUF_DATA<29>" TNM = "DATABUS";
INST "MZ_BUF_DATA<3>" TNM = "DATABUS";
INST "MZ_BUF_DATA<30>" TNM = "DATABUS";
INST "MZ_BUF_DATA<31>" TNM = "DATABUS";
INST "MZ_BUF_DATA<4>" TNM = "DATABUS";
INST "MZ_BUF_DATA<5>" TNM = "DATABUS";
INST "MZ_BUF_DATA<6>" TNM = "DATABUS";
INST "MZ_BUF_DATA<7>" TNM = "DATABUS";
INST "MZ_BUF_DATA<8>" TNM = "DATABUS";
INST "MZ_BUF_DATA<9>" TNM = "DATABUS";
INST "MZ_CPLD_BYTE_N<0>" TNM = "EB";
INST "MZ_CPLD_BYTE_N<1>" TNM = "EB";
INST "MZ_CPLD_BYTE_N<2>" TNM = "EB";
INST "MZ_CPLD_BYTE_N<3>" TNM = "EB";
#
TIMEGRP "EB" OFFSET = IN 6 ns BEFORE "FPGA_CLK3";
#TIMEGRP "DATABUS" OFFSET = OUT 7.5 ns AFTER "SYS_CLK";
#
# -------------------------------------------------------------------------
# INPUT CLK AND RESET PIN
# -------------------------------------------------------------------------
#
NET "SYS_CLK" LOC = "AE14";
NET SYS_CLK IOSTANDARD = LVCMOS33;
#NET "SYS_CLK" TNM_NET = "SYS_CLK";
#
NET "FPGA_CLK4" LOC = "AE13";
NET FPGA_CLK4 IOSTANDARD = LVCMOS33;
#NET "FPGA_CLK4" TNM_NET = "FPGA_CLK4";
#
NET "FPGA_CLK3" LOC = "AF14";
NET FPGA_CLK3 IOSTANDARD = LVCMOS33;
#NET "FPGA_CLK3" TNM_NET = "FPGA_CLK3";

#TIMESPEC "TS_FPGA_CLK4" = PERIOD "FPGA_CLK4" 20 ns HIGH 50 %;
#
NET "SYS_RST_N" LOC = "AB11";
NET SYS_RST_N IOSTANDARD = LVCMOS33;
NET "SYS_RST_N" TIG;
#
# NET MZ_IO_A[27] 	LOC = AA18
NET "MZ_CPLD_CLKO" LOC = "AA18";
NET MZ_CPLD_CLKO IOSTANDARD = LVCMOS33;
NET "MZ_CPLD_CLKO" TNM_NET = "MZ_CPLD_CLKO";

TIMESPEC "TS_MZ_CPLD_CLK0" = PERIOD "MZ_CPLD_CLKO" 14 ns HIGH 50 %;
#TIMESPEC "TS_SYS_CLK" = PERIOD "SYS_CLK" 19 ns HIGH 50 %;
NET "MZ_CPLD_CLKO" CLOCK_DEDICATED_ROUTE=FALSE;
#PIN "MZ_CPLD_CLKO_IBUF_BUFG.GCLKMUX.I0" CLOCK_DEDICATED_ROUTE = FALSE;